//all public basic styles and variables

body,
p {
  margin: 0;
}
body {
  background-color: var(--white);
}
:root {
  --black: #1e1e1e;
  --white: #ebebeb;
  --wwhite: #fff;
  --grey: #dadada;
  --blue: #007bff;
  --m: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--m);
  font-weight: 500;
}
a,
p {
  font-family: monospace;
}
.nav {
  display: flex;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  top: 0;
  img {
    width: 20px;
  }
  .logo {
    padding: 15px;
    background-color: #ece1da;
    border-radius: 50%;
  }
  > div {
    display: flex;
    gap: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    cursor: pointer;
  }
}
.main {
  padding: 0px 30px;
  margin-top: 130px;
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .greet {
        display: flex;
        font-family: var(--m);
        gap: 10px;
    }

    div {
      display: flex;
      gap: 20px;
      select {
        border-radius: 10px;
        padding: 10px;

        background-color: var(--grey);
        border: none;
      }
    }
    img {
      width: 20px;
    }
  }
  .maininfo {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    > div {
      width: 50%;
    }
  }
  .tpageview {
    background-color: var(--wwhite);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 30px;

    display: flex;
    gap: 20px;
    flex-direction: column;
    > div {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        :nth-child(1) {
            font-size: 2em;
        }
        :nth-child(2) {
          font-family: var(--m);
        }
      }
    }
  }
  .snd-info {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    > div {
      background-color: var(--wwhite);
      box-sizing: border-box;
      padding: 30px;
      border-radius: 30px;
      width: 50%;
      > div > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
.rightside {
  background-color: var(--wwhite);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 30px;

  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
